 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 815px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  font-family: SFTransRobotics;
  font-weight: 400;
  margin: 105px 384px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  margin: 54px 472px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  margin: 35px 472px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  margin: 35px 472px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 80px;
    margin-right: 184px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 44px;
    margin-right: 272px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 32px;
    margin-right: 272px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 32px;
    margin-right: 272px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 93px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 46px;
    margin-right: 52px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 52px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-right: 52px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 102px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 35px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 28px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 28px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1131px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 93px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 52px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 33px;
  }
} .u-section-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-sheet-1 {
  min-height: 340px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 60px 105px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  width: 780px;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-sheet-1 {
  min-height: 346px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 76px 105px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 400;
  width: 780px;
  margin: 32px auto 50px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 3089px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: 20px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 26px 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 645px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  margin-bottom: 0;
  margin-top: 0;
  height: 567px;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: -58px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 586px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 568px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 586px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: 568px;
}

.u-section-4 .u-image-4 {
  height: 568px;
  margin: 0 auto;
}

.u-section-4 .u-image-5 {
  height: 568px;
  margin-top: 18px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2770px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 532px;
  }

  .u-section-4 .u-image-1 {
    height: 461px;
  }

  .u-section-4 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 484px;
    background-position: 50% 50%;
    background-size: 130%;
  }

  .u-section-4 .u-image-2 {
    height: 468px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 484px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-3 {
    height: 468px;
  }

  .u-section-4 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2276px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 404px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-4 .u-image-1 {
    height: 330px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 370px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-4 .u-image-2 {
    height: 358px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 370px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-4 .u-image-3 {
    height: 358px;
  }

  .u-section-4 .u-image-5 {
    height: 428px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1828px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 28px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 52px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 18px;
    height: 248px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 278px;
  }

  .u-section-4 .u-image-2 {
    height: 269px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 278px;
  }

  .u-section-4 .u-image-3 {
    height: 269px;
  }

  .u-section-4 .u-image-4 {
    height: 401px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-5 {
    height: 366px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1164px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 0;
    height: 167px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 175px;
  }

  .u-section-4 .u-image-2 {
    height: 169px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 168px;
  }

  .u-section-4 .u-image-3 {
    height: 169px;
  }

  .u-section-4 .u-image-4 {
    height: 218px;
    margin-top: 6px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-5 {
    height: 218px;
    margin-top: 6px;
  }
}@font-face {
  font-family: 'SFTransRobotics';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SFTransRobotics.ttf);
}