 .u-section-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 815px;
}

.u-section-1 .u-text-1 {
  font-size: 5.5rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 146px 507px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  margin: 21px 760px 0 0;
}

.u-section-1 .u-form-1 {
  height: 47px;
  margin: 21px 736px 60px 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #ff6918, #f43702);
  letter-spacing: normal;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 124px;
    margin-right: 307px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-right: 537px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 27px;
    margin-right: 546px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 110px;
    margin-right: 87px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 317px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 329px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 143px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 18px;
    margin-right: 137px;
  }

  .u-section-1 .u-form-1 {
    height: 108px;
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 183px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    letter-spacing: 2px;
    border-style: none;
  }
} .u-section-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-sheet-1 {
  min-height: 345px;
}

.u-section-2 .u-list-1 {
  margin-top: -115px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 390px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0 118px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0 118px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0 118px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-10 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0 118px 0 0;
}

.u-section-2 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-12 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 26px;
    margin-right: 8px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 19px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 26px;
    margin-right: 8px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 26px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 19px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 26px;
    margin-right: 8px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 26px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 19px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 26px;
    margin-right: 8px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 26px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 19px;
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1033px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 775px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 645px;
}

.u-section-3 .u-container-layout-1 {
  padding: 50px 0 50px 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3.4375rem;
  margin: 45px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 26px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 532px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 662px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 28px;
  }
} .u-section-4 {
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 825px;
}

.u-section-4 .u-list-1 {
  width: 1050px;
  margin: 305px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 18.6667px) calc(33.3333% - 18.6667px) calc(33.3333% - 18.6667px);
  grid-gap: 28px 28px;
  min-height: 368px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 99px;
  width: 99px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 15px 0 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  margin: 21px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-size: auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 99px;
  width: 99px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 15px 0 0;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  margin: 21px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-size: auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 99px;
  width: 99px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 15px 0 0;
}

.u-section-4 .u-text-6 {
  font-style: italic;
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1209px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 14px) calc(50% - 14px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1552px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-text-5 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1304px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-top: 150px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
  }

  .u-section-4 .u-text-6 {
    width: auto;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 717px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 597px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  margin: 21px 0 0;
}

.u-section-5 .u-btn-1 {
  padding: 0;
}

.u-section-5 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(to right, #ff6918, #f43702);
  margin: 21px auto 0 0;
  padding: 14px 48px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 597px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-image-1 {
  height: 537px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 433px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 565px;
  }

  .u-section-5 .u-image-1 {
    height: 524px;
    margin-top: 63px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 377px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 821px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-1 {
    height: 396px;
    margin-top: 201px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1266px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 629px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 32px;
  }

  .u-section-5 .u-image-1 {
    height: 459px;
    margin-top: 69px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1456px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 281px;
  }

  .u-section-5 .u-line-1 {
    margin-top: 49px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 22px;
    margin-right: 0;
    padding: 13px 34px 15px 33px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 457px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-1 {
    height: 351px;
  }
} .u-section-6 {
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 727px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 283px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  width: 236px;
  margin: 14px auto 0;
}

.u-section-6 .u-line-1 {
  width: 106px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 22px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 24px 202px 0;
}

.u-section-6 .u-text-3 {
  margin: 15px 106px 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 560px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 10px 92px 0 0;
}

.u-section-6 .u-icon-2 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: 15px auto 0 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 10px 355px 0 0;
}

.u-section-6 .u-icon-3 {
  height: 38px;
  width: 38px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 21px auto 0 0;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-6 .u-icon-4 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: 15px auto 0 0;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  margin: 10px 229px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 384px;
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-6 .u-form-1 {
  margin: 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #ff6918, #f43702);
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 233px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-text-2 {
    margin-left: 102px;
    margin-right: 102px;
    font-size: 1.25rem;
  }

  .u-section-6 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 462px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 255px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 129px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 317px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 132px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 178px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 145px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 19px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 243px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1291px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 49px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 134px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 150px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-6 .u-text-4 {
    margin-left: 51px;
    margin-right: 51px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-6 .u-text-5 {
    width: 300px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 31px;
    margin-left: auto;
  }

  .u-section-6 .u-text-6 {
    margin-top: 11px;
  }

  .u-section-6 .u-icon-4 {
    margin-left: auto;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-right: 103px;
    margin-left: 132px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 365px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 84px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 502px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 11px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 11px;
    margin-right: 60px;
    margin-left: 45px;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 7px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
  }

  .u-section-6 .u-icon-4 {
    margin-top: 18px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 11px;
    margin-right: 30px;
    margin-left: 45px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 230px;
  }

  .u-section-6 .u-form-1 {
    height: 313px;
    width: 320px;
  }

  .u-section-6 .u-btn-1 {
    width: 100%;
  }
}