 .u-section-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 815px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 126px 616px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  margin: 41px 616px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  margin: 20px 616px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  margin: 20px 616px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 72px;
    margin-right: 416px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-right: 440px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 27px;
    margin-right: 416px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 27px;
    margin-right: 416px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 68px;
    margin-right: 196px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 21px;
    margin-right: 230px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 11px;
    margin-right: 196px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 21px;
    margin-right: 196px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 82px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 36px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 34px;
    margin-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1008px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 76px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 32px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 32px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 14px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 3675px;
}

.u-section-2 .u-text-1 {
  margin: 34px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 581px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  margin-bottom: 0;
  margin-top: 0;
  height: 564px;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 588px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  height: 571px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 588px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: 571px;
}

.u-section-2 .u-layout-wrap-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 564px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  margin-bottom: 0;
  margin-top: 0;
  height: 564px;
}

.u-section-2 .u-layout-wrap-4 {
  margin-top: 17px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 1144px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 0 16px;
}

.u-section-2 .u-image-5 {
  margin-bottom: 0;
  margin-top: 0;
  height: 564px;
}

.u-section-2 .u-image-6 {
  height: 564px;
  margin-top: 17px;
  margin-bottom: -17px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3067px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 479px;
  }

  .u-section-2 .u-image-1 {
    height: 465px;
  }

  .u-section-2 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 484px;
    background-position: 50% 50%;
    background-size: 130%;
  }

  .u-section-2 .u-image-2 {
    height: 471px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 484px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-3 {
    height: 471px;
  }

  .u-section-2 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 465px;
  }

  .u-section-2 .u-image-4 {
    height: 465px;
  }

  .u-section-2 .u-layout-cell-5 {
    background-position: 50% 50%;
    min-height: 943px;
  }

  .u-section-2 .u-image-5 {
    height: 465px;
  }

  .u-section-2 .u-image-6 {
    height: 465px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2397px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 367px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-image-1 {
    height: 356px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-image-2 {
    height: 361px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 371px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-2 .u-image-3 {
    height: 361px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 356px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-2 .u-image-4 {
    height: 356px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 722px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-5 {
    height: 356px;
  }

  .u-section-2 .u-image-6 {
    height: 356px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1868px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 275px;
  }

  .u-section-2 .u-image-1 {
    height: 267px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 278px;
  }

  .u-section-2 .u-image-2 {
    height: 271px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 278px;
  }

  .u-section-2 .u-image-3 {
    height: 271px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 267px;
  }

  .u-section-2 .u-image-4 {
    height: 267px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 542px;
  }

  .u-section-2 .u-image-5 {
    height: 267px;
  }

  .u-section-2 .u-image-6 {
    height: 267px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1256px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 174px;
  }

  .u-section-2 .u-image-1 {
    height: 168px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 175px;
  }

  .u-section-2 .u-image-2 {
    height: 171px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 168px;
  }

  .u-section-2 .u-image-3 {
    height: 171px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 174px;
  }

  .u-section-2 .u-image-4 {
    height: 168px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 352px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-5 {
    margin-top: -12px;
    height: 168px;
  }

  .u-section-2 .u-image-6 {
    height: 162px;
    margin-bottom: 0;
  }
}