 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  font-family: SFTransRobotics;
  font-weight: 400;
  margin: 125px 582px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  margin: 42px 616px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  margin: 20px 616px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  margin: 20px 616px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 72px;
    margin-right: 382px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-right: 440px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 27px;
    margin-right: 416px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 27px;
    margin-right: 416px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 68px;
    margin-right: 162px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 21px;
    margin-right: 230px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 11px;
    margin-right: 196px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 21px;
    margin-right: 196px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 82px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 36px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 34px;
    margin-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1008px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 76px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 32px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 32px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 14px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 6107px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  margin: 34px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 564px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 588px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  height: 571px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 588px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: 571px;
}

.u-section-2 .u-layout-wrap-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 564px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  margin-bottom: 0;
  margin-top: 0;
  height: 564px;
}

.u-section-2 .u-layout-wrap-4 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 1725px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-image-5 {
  margin-bottom: 0;
  margin-top: 0;
  height: 564px;
}

.u-section-2 .u-image-6 {
  height: 564px;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-2 .u-image-7 {
  height: 564px;
  margin-top: 17px;
  margin-bottom: -1px;
}

.u-section-2 .u-image-8 {
  height: 868px;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-2 .u-image-9 {
  height: 938px;
  margin-top: 16px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4853px;
  }

  .u-section-2 .u-image-1 {
    min-height: 465px;
  }

  .u-section-2 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 484px;
    background-position: 50% 50%;
    background-size: 130%;
  }

  .u-section-2 .u-image-2 {
    height: 471px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 484px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-3 {
    height: 471px;
  }

  .u-section-2 .u-layout-cell-4 {
    background-position: 50% 50%;
    min-height: 465px;
  }

  .u-section-2 .u-image-4 {
    height: 465px;
  }

  .u-section-2 .u-layout-cell-5 {
    background-position: 50% 50%;
    min-height: 1422px;
  }

  .u-section-2 .u-image-5 {
    height: 465px;
  }

  .u-section-2 .u-image-6 {
    height: 465px;
  }

  .u-section-2 .u-image-7 {
    height: 465px;
  }

  .u-section-2 .u-image-8 {
    height: 638px;
  }

  .u-section-2 .u-image-9 {
    height: 628px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3726px;
  }

  .u-section-2 .u-image-1 {
    min-height: 356px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-image-2 {
    height: 361px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 371px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-2 .u-image-3 {
    height: 361px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 356px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-2 .u-image-4 {
    height: 356px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 1089px;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 0;
  }

  .u-section-2 .u-image-5 {
    height: 356px;
  }

  .u-section-2 .u-image-6 {
    height: 356px;
  }

  .u-section-2 .u-image-7 {
    height: 356px;
  }

  .u-section-2 .u-image-8 {
    height: 426px;
    margin-top: 16px;
  }

  .u-section-2 .u-image-9 {
    height: 485px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2891px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 267px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 278px;
  }

  .u-section-2 .u-image-2 {
    height: 271px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 278px;
  }

  .u-section-2 .u-image-3 {
    height: 271px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 267px;
  }

  .u-section-2 .u-image-4 {
    height: 267px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 817px;
  }

  .u-section-2 .u-image-5 {
    height: 267px;
  }

  .u-section-2 .u-image-6 {
    height: 267px;
  }

  .u-section-2 .u-image-7 {
    height: 267px;
  }

  .u-section-2 .u-image-8 {
    height: 334px;
  }

  .u-section-2 .u-image-9 {
    height: 373px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1949px;
  }

  .u-section-2 .u-image-1 {
    min-height: 174px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 175px;
  }

  .u-section-2 .u-image-2 {
    height: 168px;
    margin-top: -13px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 171px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -17px;
    height: 171px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 174px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -11px;
    height: 168px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 519px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -24px;
    height: 168px;
  }

  .u-section-2 .u-image-6 {
    height: 162px;
    margin-top: 12px;
  }

  .u-section-2 .u-image-7 {
    height: 168px;
    margin-top: 12px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-8 {
    height: 238px;
    margin-top: -10px;
  }

  .u-section-2 .u-image-9 {
    height: 262px;
    margin-top: 12px;
  }
}@font-face {
  font-family: 'SFTransRobotics';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SFTransRobotics.ttf);
}